body {
	display: flex;
	align-items: flex-end;

	background-color: #eeeeee;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	font-weight: 400;
	line-height: 1.55;

	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 1px;
}

.gc2-sidebar {
	display: none;
	margin-right: 0.5em;
}

gc2-alarm {
	font-family: monospace;
	font-size: 1.5em;
  color: #0000aa;
  text-align: center;
}

gc2-alarm[preums] {
  color: #ff0000;
}

gc2-tribune-navigator {
	display: flex;
	flex-direction: column;
}

gc2-tribune-navigator-button {
	cursor: pointer
}

gc2-tribune-navigator-button:hover {
	background: #d7d2d2
}

gc2-tribune-navigator-button[active] {
	font-weight: bolder
}

gc2-tribune-navigator-button span {
	display: flex
}

gc2-tribune-navigator-button[bigorno] span::after {
	content: "📢"
}

gc2-tribune-navigator-button[reply] span::after {
	content: "↩"
}

gc2-main {
	flex: 1 1 auto;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: auto;
	height: 100%;
}

gc2-menu {
	max-width: 60rem;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: auto;
	height: 100%;
}

gc2-menu button {
	width: max-content;
	margin: 8px;
}

.gc2-controls {
	display: flex;
}

.gc2-controls input {
	flex-grow: 1
}

.gc2-controls * {
	font-size: initial
}

gc2-tribunes {
	margin: 0;
	padding: 0;
	overflow-x: visible;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	display: grid;
	align-items: end;
}

gc2-tribune {
	display: table;
	color: #007700;
	width: 100%;
}

gc2-post {
    display: table-row;
}

gc2-post:nth-of-type(even) {
	background-color: #FFFFFF;
}

gc2-post:nth-of-type(odd) {
	background-color: #FBFBFB;
}

gc2-post-icon {
	display: table-cell;
	width: 1em;
}

gc2-post-norloge {
	display: table-cell;
	width: 1em;
	padding-right: 0.5em;
	color: black;
	font-weight: bold;
	white-space: nowrap;
	cursor: pointer;
}

.gc2-norloge-is-reply {
	color: red;
}

gc2-message gc2-norloge {
	color: #5F7FBF;
	cursor: pointer;
}

gc2-moule {
	display: table-cell;
	width: 1em;
	max-width: 8em;
	padding-right: 0.5em;
	color: #833;
	white-space: nowrap;
	overflow-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

gc2-message {
	display: table-cell;
	color: black;
	overflow-wrap: anywhere;
}

gc2-message a {
	font-weight: bold;
	color: #1690f3;
}

gc2-message a:hover {
	text-decoration: underline;
}

gc2-message a:visited {
	color: #0b78d0;
}

gc2-message cite {
	border: 1px solid #F00;
	cursor: pointer;
}

gc2-message cite:after {
	content: '<';
}

.gc2-highlighted {
	background-color: #FFD202 !important;
}

.gc2-highlighted > * {
	background-color: #FFD202 !important;
}

.gc2-totoz-search-results {
	display: flex;
	flex-wrap: wrap;
}

.gc2-totoz-search-results figure:hover {
	background: #d7d2d2;
}

.gc2-emoji-search-results {
	display: flex;
	flex-wrap: wrap;
}

.gc2-emoji-search-results figure:hover {
	background: #d7d2d2;
}

gc2-totoz {
	display: inline;
	position: relative;
	font-weight: bold;
	color: #0A1;
	margin: unset;
}

gc2-totoz img {
	display: none;
}

gc2-totoz:hover img {
	display: inline;
	position: absolute;
	top: 0;
	left: -50%;
	margin-left: 100%;
	transform: translate(-0%, -100%);
}

gc2-spoiler {
	background-color: black;
	color: black;
}

gc2-spoiler:hover {
	background-color: inherit;
}

gc2-revealed-spoiler {
	background-color: inherit;
	color: red;
}

gc2-bigorno {
	color: #D00;
	font-weight: bold;
}

gc2-bigorno::after {
	content: "📢"
}

.gc2-loading {
	background-image: url("/img/loading.svg");
	background-repeat: no-repeat;
	background-position: right;
}

gc2-attach {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

gc2-attach img {
	max-width: 100%;
}

gc2-attach video {
	max-width: 100%;
}

gc2-attach audio {
	max-width: 100%;
}

#gb3-post-popup {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    pointer-events: none;
}

#gb3-post-popup-content {
    background-color: #f3f3f3;
    border-radius: 4px;
}

@media only screen and (max-device-width: 480px) {
	.gc2-shortcuts-button {
		display: none;
	}

	.gc2-controls select {
		display: none;
	}

	gc2-post-icon {
		display: inline-block;
		width: initial;
	}
	
	gc2-post-norloge {
		display: inline-block;
		width: initial;
		vertical-align: text-top;
		padding-right: 5px;
    	padding-left: 5px;
		margin-right: 8px;
		border-radius: 8px;
    	border: 1px solid grey;
	}

	gc2-moule {
		display: inline-block;
		width: initial;
		vertical-align: text-top;
		padding-right: 5px;
    	padding-left: 5px;
	  	border-radius: 8px;
    	border: 1px solid grey;
	}

	gc2-message {
		display: block;
	}
}

@media only screen and (min-device-width: 720px) {

	.gc2-sidebar {
		display: flex;
		flex-direction: column;
	}

	.gc2-controls select {
		display: none;
	}
}

